.container {
    text-align: center; /* Center align content within the container */
    background-color: #F8DDA4; /* Change background color */
    padding: 20px; /* Add padding */
  }
  
  h2 {
    color: #333; /* Change heading color */
  }
  
  form {
    background-color: #F4F9E9; /* Change form background color */
    padding: 20px; /* Add padding */
    border-radius: 8px; /* Add border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    color: #D45113;
  }
  
  hr {
    border: none; /* Remove border */
    border-top: 1px solid #ccc; /* Add top border */
    margin: 20px 0; /* Add margin */
  }
  
  button {
    margin-top: 10px; /* Add margin to buttons */
  }
  
  button, input[type="submit"] {
    padding: 10px 20px; /* Add padding to buttons */
    background-color: #813405; /* Change button background color */
    color: #fff; /* Change button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
  button:hover, input[type="submit"]:hover {
    background-color: #F9A03F; /* Change button background color on hover */
  }
  
  label {
    display: block; /* Make labels block level */
    margin-bottom: 5px; /* Add margin to labels */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="radio"],
  select {
    width: calc(85% - 10px); /* Set width to 50% minus margin */
    padding: 10px; /* Add padding */
    margin-bottom: 10px; /* Add margin */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    display: inline-block; /* Display elements inline */
    box-sizing: border-box; /* Include padding and border in width calculation */
    text-align: center;
  }
  
  input[type="radio"] {
    margin-bottom: 1; /* Adjust margin for radio buttons */
    background-color: #813405;
  }
  